*{
    padding: 20px;
    margin: 10px;
}

div.container{
    width: 80%;
    min-height: 400px;
    background-color: beige;
    color: darkblue;
    margin: 10px auto;
}

div.container > h1 {
    text-align: center;
    text-shadow: 3px 3px 3 px gray;
}
ul.list {
    list-style-type: square;
    margin-left: 10px;
}
body{
    background-color: lightcoral;
}